ul {
  list-style: none;
}
html,
body,
h1 {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "Noto Sans KR", sans-serif;
}

input {
  text-decoration: none;
  border: none;
}

.main {
  padding: 5px;
}

#title {
  z-index: 1000;
  font-family: "Roboto Slab", serif;
  font-size: 1.6em;
  font-weight: lighter;
  color: rgb(75, 68, 139);
  width: 100%;
  background-color: rgb(254, 254, 255);
  height: 2em;
  line-height: 2em;
  /* border-bottom: 1px solid rgb(116, 112, 153); */
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.input-content {
  background: linear-gradient(rgb(232, 232, 255), rgb(255, 255, 255));
}

#input-content__text,
#drug-input__text,
#result-content__text {
  color: rgb(65, 57, 134);
  font-size: 1.3em;
  font-weight: bold;
}

#input-content__text,
.drug-input,
#result-content__text {
  padding-left: 1em;
  padding-top: 1em;
}

.choose-drug {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 0;
}

.drug-info {
  background-color: white;
  margin: 0.5em;
  border-radius: 0.3em;
  box-shadow: rgba(75, 68, 139, 0.2) 0px 7px 20px 0px;
}

.drug-info img {
  width: 6em;
  height: 5em;
  padding: 0 0.5em;
}

.drug-info p {
  margin: 0;
  font-size: 0.8em;
}

.drug-info #info {
  font-size: 0.5em;
}

.drug {
  display: none;
}

.drug + label {
  float: left;
  text-align: center;
  padding: 0.4em;
  border-radius: 0.2em;
}

.drug + label:hover {
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background-color: rgba(126, 114, 233, 0.2);
  border: 3px solid rgb(156, 148, 221);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.3em;
}

.drug-input {
  border-top: 1px solid rgb(211, 210, 214);
}

#drug-input__form input {
  border: none;
  margin-top: 10px;
  padding-left: 10px;
}

.drug-count {
  width: 8em;
  height: 2em;
  font-size: 1em;
  padding-left: 0.4em;
  border-radius: 25px;
  box-shadow: rgb(218, 215, 241) 0px 4px 16px 0px;
  margin-top: 10px;
}

.drug-count:focus {
  border-radius: 25px;
  outline: none;
  border: 1px solid rgb(198, 194, 233);
  box-shadow: rgb(192, 188, 228) 0px 4px 16px 0px;
}

.calculate,
.reset {
  width: 4.5em;
  height: 2em;
  font-weight: bold;
  border-radius: 3px;
  margin-left: 10px;
  font-size: 1em;
  box-shadow: rgba(0, 0, 0, 0.3) 0.5px 0.5px 4px;
  background-color: rgb(236, 236, 236);
}

.calculate:hover,
.reset:hover {
  cursor: pointer;
  border: 1px solid rgb(145, 145, 145);
}

/* dots */
.dots {
  text-align: center;
  vertical-align: middle;
  color: rgb(226, 226, 226);
  font-size: 2.5em;
}

/* 계산 결과 부분 */

.result-content {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px 0 20px 0;
  font-size: 1.3em;
}

.result-content li {
  display: flex;
  padding: 5px;
}

/* 결과 나오는 박스 */
.result-box {
  width: 2em;
  height: 1.6em;
  text-align: center;
  /* border: 3px solid rgb(214, 197, 230); */
  background-color: rgb(255, 255, 255);
  color: rgb(64, 58, 117);
  border: 1px solid rgb(150, 144, 204);
  margin-right: 2px;
  border-radius: 3px;
}

/* footer */
footer {
  padding-top: 3em;
  text-align: right;
  padding-right: 10px;
}

footer .my_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer .copyright {
  font-size: 0.5em;
  color: rgb(155, 155, 155);
  bottom: 0;
}

/* 계산기 모달 */
.hidden {
  display: none;
}

table {
  background-color: #ffffff;
  margin: 0 auto;
  border-spacing: 7px;
}

td {
  width: 3em;
  height: 3em;
  text-align: center;
  font-size: 1.3em;
  background-color: rgb(231, 231, 231);
  border-radius: 10em;
  font-weight: bold;
}

.purple {
  color: #4f00ce;
}

td:active {
  background-color: #e0e0d1;
}

.expression {
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 2em;
  line-height: 3em;
  padding: 0 10px;
}

.screen {
  height: 2em;
  line-height: 2.5em;
  margin: 0 auto;
  font-size: 2em;
  color: #000000;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 10px;
  max-width: 220px;
  border-bottom: 1px solid rgb(201, 201, 201);
}

.equals {
  background-color: rgb(165, 155, 255);
  color: white;
}

.all-clear {
  color: rgb(238, 56, 56);
}

.calculater {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(36, 36, 36, 0.7); /* 배경 어둡게 */
}

.calculater-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  margin: 0 auto; /* horizontally centreing an element */
  border-radius: 20px;
  padding: 10px 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* 계산기 버튼 */
.calculater-button {
  position: fixed;
  padding: 10px 10px 10px 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 10em 0 0 10em;
  right: 0;
  top: 60px;
  color: rgb(53, 40, 170);
}

.calculater-button i {
  font-size: 25px;
}

.calculater-button:checked {
  background-color: gray;
}

.off-button {
  font-size: 2em;
  margin: 10px;
  background-color: transparent;
  border: none;
  color: white;
}

@media only screen and (max-width: 576px) {
  .choose-drug {
    justify-content: center;
  }
}

@media only screen and (max-width: 360px) {
  .drug-info img {
    width: 5em;
    height: 4em;
  }
  .calculate,
  .reset {
    font-size: 1em;
  }
  .result-content {
    font-size: 1em;
  }
  td {
    font-size: 1em;
  }
}
